table {
    border-collapse: collapse;
    margin: 0 auto;
    @media (max-width: 545px) {
        font-size: 12px;
    }
    tr {
        th,
        td {
            padding: 10px;
            text-align: center;
            border: 1px solid black;
        }
    }
}